*{
  font-family:sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  text-align: center;
  margin-top: 100px;
}
.timer{
  
  margin-top: 100px;
  font-size: 30px;
  
}
.button{
  width: 80px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
.pause{
  background-color: rgb(106, 144, 248);
  color: #ffff;
}
.start{
  background-color: rgb(65, 235, 65);
  color: white;
}
.add{
  background-color: rgb(65, 235, 65);
  color: white;

}
.reset{
  color: rgb(226, 59, 59);
}

.title{
  color:cornflowerblue;
  font-size: 20px;
} 

